# OS specific
.DS_Store

# direnv config file
.envrc

# Text editors and IDEs
.idea/
.vscode/

# Python
.pytest_cache/
*.egg-info
__pycache__
.ipynb_checkpoints/

# Build files
build/
docs/_build/
docs/examples/generated/
docs/rst/reference_api/generated/
docs/rst/reference_plugins/generated/

# Coverage
.coverage
htmlcov/

# Default data storage
resources/downloads/
