# OS specific 
.DS_Store

# Text editors and IDEs
.idea/
.vscode/

# Python
.pytest_cache/
*.egg-info
__pycache__
.ipynb_checkpoints/

# Build files
build/
docs/_build/
docs/rst/api_reference/generated/
test_report/generated/
