[submodule "resources/data"]
	path = resources/data
	url = https://github.com/eradiate/eradiate-data.git
	shallow = true
[submodule "ext/mitsuba"]
	path = ext/mitsuba
	url = https://github.com/eradiate/mitsuba3.git
[submodule "tutorials"]
	path = tutorials
	url = https://github.com/eradiate/eradiate-tutorials.git
	shallow = true
