[submodule "resources/data"]
	path = resources/data
	url = https://github.com/eradiate/eradiate-data.git
[submodule "ext/mitsuba2"]
	path = ext/mitsuba2
	url = git@github.com:leroyvn/mitsuba2-next.git
