repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    # Important: If the version changes, do not forget to sync it with the
    # linting CI workflow
    hooks:
      - id: ruff  # linter
        types_or: [ python, pyi, jupyter ]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
  - repo: local
    hooks:
      - id: docs-lock
        name: Lock Pip requirements for RTD build
        entry: pixi run -e dev --no-progress --quiet docs-lock
        files: pixi.lock
        pass_filenames: false
        language: system
      - id: readme-pypi
        name: Update README for PyPI entries
        entry: python resources/release.py update-pypi-readme
        files: README.md
        pass_filenames: false
        language: system
