[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=61", "setuptools_scm>=6.2"]

[project]
authors = [
  {name = "The Eradiate Team"}
]
dependencies = [
  "aenum",
  "attrs>=22.2",
  "click",
  "dessinemoi>=23.1.0",
  "environ-config",
  "lazy_loader>=0.1",
  "matplotlib>=3.3",
  "netcdf4",
  "numpy",
  "pint",
  "pinttrs>=23.2.0",
  "portion",
  "pooch",
  "rich",
  "ruamel.yaml",
  "scipy",
  "shellingham!=1.5.1",  # Typer dependency; exclude this version which raises while previous don't
  "tqdm",
  "typer>=0.9.0",
  "xarray>=0.19,!=0.20.*"
]
description = "A radiative transfer model for the Earth observation community"
dynamic = ["version"]
license = {text = "LGPLv3"}
maintainers = [
  {name = "The Eradiate Team"}
]
name = "eradiate"
readme = "README.md"
requires-python = ">=3.8"

[project.optional-dependencies]
dev = [
  "conda-lock>=1.4",  # Required by dependency management scripts
  "pip>=22",  # Required by dependency management scripts
  "pip-tools>=6.5",  # Required by dependency management scripts
  "setuptools>=61"  # Required by dependency management scripts
]
docs = [
  "autodocsumm",
  "myst-parser",
  "nbsphinx>=0.9.0",
  "sphinx-book-theme>=1.0",
  "sphinx",
  "sphinxcontrib-bibtex>=2.0",
  "sphinx-autobuild",
  "sphinx-copybutton",
  "sphinx-design"
]
recommended = [
  "aabbtree",  # Used by the leaf collision detection feature
  "astropy",  # Used by the solar irradiance spectrum date-based scaling feature
  "iapws",  # Used by thermophysical property utilities
  "ipython",
  "ipywidgets",
  "jupyterlab",
  "python-dateutil",  # Used by the Solar irradiance spectrum date-based scaling feature
  "seaborn"  # Used to define the Eradiate plotting style
]
tests = [
  "pytest",
  "pytest-json-report"
]
optional = [
  "eradiate_mitsuba==0.0.1rc10"
]
production = [
  "eradiate_mitsuba==0.0.1rc10"
]

[project.scripts]
eradiate = "eradiate.cli:main"

[project.urls]
changelog = "https://github.com/eradiate/eradiate/CHANGELOG.md"
documentation = "https://eradiate.readthedocs.io"
repository = "https://github.com/eradiate/eradiate"

[tool.coverage.run]
omit = [
  "*/tests/*"
]
source = [
  "eradiate/"
]

[tool.isort]
profile = "black"
reverse_relative = true

[tool.pytest.ini_options]
filterwarnings = [
  "error",
  "ignore:distutils Version classes are deprecated:DeprecationWarning",
  # Remove the following when environment issues are solved
  "ignore:numpy.ndarray size changed, may indicate binary incompatibility:RuntimeWarning",
  # Remove the following when Jupyter stops issuing those
  "ignore:Jupyter is migrating its paths to use standard platformdirs"
]
testpaths = "tests"

[tool.ruff]
select = [
  "I"
]
src = ["src", "tests"]

[tool.ruff.isort]
relative-imports-order = "closest-to-furthest"

[tool.setuptools]
zip-safe = false  # Required because of package data

[tool.setuptools.package-data]
# Required by PEP 561
# https://mypy.readthedocs.io/en/stable/installed_packages.html#creating-pep-561-compatible-packages
eradiate = ["py.typed", "*.pyi"]

[tool.setuptools.packages.find]
exclude = ["plugins"]
include = ["eradiate*"]
namespaces = false
where = ["src"]

[tool.setuptools_scm]
git_describe_command = [
  "git",
  "describe",
  "--dirty",
  "--tags",
  "--long",
  "--match",
  "v[0-9]*"
]  # Redefined to avoid crashing with special build tags
version_scheme = "no-guess-dev"  # Count commits since last tag, don't anticipate new version
